<div class="ion-padding">
  <div class="header">
    <div class="logo-container">
      <img src="../../assets/logos/NeumoSmart.png" alt="NeumoSmartLogo"
        class="logo">
      <div class="brand-name">NeumoSmart</div>
    </div>
  </div>

  <div class="main-container">
    <div class="credits-container">
      <h2 class="credits-title">Nuestro Equipo</h2>
      <div class="team-grid">

        <div class="team-member">
          <img src="../../assets/logos/Angelo.jpg" alt="Desarrollador 1"
            class="member-image">
          <h3 class="member-name">Angelo Zurita</h3>
          <div class="social-links">
            <ion-button fill="clear" href="https://github.com/aszurita" target="_blank">
              <ion-icon slot="start" name="logo-github"></ion-icon>
              GitHub
            </ion-button>
            <ion-button fill="clear" href="https://www.linkedin.com/in/angelo-saul-zurita-guerrero/" target="_blank">
              <ion-icon slot="start" name="logo-linkedin"></ion-icon>
              LinkedIn
            </ion-button>
          </div>
        </div>

        <div class="team-member">
          <img src="./../assets/logos/Noelia.jpg" alt="Desarrollador 2"
            class="member-image">
          <h3 class="member-name">Noelia Saltos</h3>
          <div class="social-links">
            <ion-button fill="clear" href="https://github.com/NoeSaltos" target="_blank">
              <ion-icon slot="start" name="logo-github"></ion-icon>
              GitHub
            </ion-button>
            <ion-button fill="clear" href="https://www.linkedin.com/in/noelia-saltos-a24a18221/" target="_blank">
              <ion-icon slot="start" name="logo-linkedin"></ion-icon>
              LinkedIn
            </ion-button>
          </div>
        </div>

        <div class="team-member">
          <img
            src="./../assets/logos/Jahir.jpg"
            alt="Desarrollador 3" class="member-image">
          <h3 class="member-name">Jahir Diaz</h3>
          <div class="social-links">
            <ion-button fill="clear" href="https://github.com/JDC1907" target="_blank">
              <ion-icon slot="start" name="logo-github"></ion-icon>
              GitHub
            </ion-button>
            <ion-button fill="clear" href="https://www.linkedin.com/in/jahir-diaz-cede%C3%B1o-275262332/" target="_blank">
              <ion-icon slot="start" name="logo-linkedin"></ion-icon>
              LinkedIn
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="credits-container">
      <h2 class="credits-title">Nuestro Visión</h2>
      <div class="team-grid">

        <div class="team-member">
          <p class="info">
          Transformar la atención médica en Ecuador mediante la implementación de tecnologías avanzadas de inteligencia artificial para la detección temprana y precisa de neumonía. Aspiramos a mejorar la eficiencia de los diagnósticos, reducir la carga de trabajo de los radiólogos y asegurar un acceso equitativo a servicios de salud de calidad en todas las regiones del país.
          </p>
        </div>
      </div>
    </div>
  </div>




</div>