<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="header">
        <div class="logo-container">
          <img src="../../assets/logos/NeumoSmart.png" alt="NeumoSmartLogo"
            class="logo">
          <div class="brand-name">Acerca de</div>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding content">
  <div class="page-content">
    <div class="section">
      <div class="harmonized-card">
        <div class="harmonized-card-header">
          <div class="harmonized-card-title">Detección de Neumonía en Rayos X</div>
        </div>
        <div class="harmonized-card-content">
          <p>
            La detección temprana de neumonía (viral, bacteriana o su ausencia) es crucial, especialmente en Ecuador, donde la temporada de lluvias incrementa las enfermedades respiratorias. La alta carga de trabajo en los centros médicos puede retrasar diagnósticos y tratamientos.
          </p>
        </div>
      </div>
    </div>

    <div class="section1">
      <div class="harmonized-card">
        <div class="harmonized-card-header">
          <div class="harmonized-card-title">Beneficios</div>
        </div>
        <div class="harmonized-card-content">
          <ul class="harmonized-list">
            <li class="item">Diagnóstico rápido y preciso.</li>
            <li class="item">Reducción de la carga de radiólogos.</li>
            <li class="item">Acceso mejorado en áreas con recursos limitados.</li>
            <li class="item">Respuesta eficiente ante el aumento de casos en época de lluvias.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="harmonized-card">
        <div class="harmonized-card-header">
          <div class="harmonized-card-title">Solución</div>
        </div>
        <div class="harmonized-card-content">
          <p>
            Una app que permite cargar imágenes de rayos X y obtener un análisis automatizado para detectar neumonía con alta precisión.
          </p>
        </div>
      </div>
    </div>

    <div class="section1">
      <div class="harmonized-card">
        <div class="harmonized-card-header">
          <div class="harmonized-card-title">Características</div>
        </div>
        <div class="harmonized-card-content">
          <ul class="harmonized-list">
            <li class="harmonized-list-item">Carga de imágenes: Desde dispositivos médicos o importadas.</li>
            <li class="harmonized-list-item">Análisis en tiempo real: Diagnóstico inmediato con estimación de confianza.</li>
          </ul>
          <p>
            Facilitamos una detección rápida y confiable para mejorar la salud pública en Ecuador.
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>