<ion-content [fullscreen]="true" class="content">

  <div class="header">
    <div class="logo-container">
      <img src="../../assets/logos/NeumoSmart.png" alt="NeumoSmartLogo"
        class="logo">
      <div class="brand-name">NeumoSmart</div>
    </div>
  </div>

  <ion-card class="ion-padding-bottom ion-margin-bottom custom-card">

    <ion-card-header>
      <ion-card-title class="custom-card-title">Carga tu
        análisis</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">

      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

        <ion-select formControlName="score" label="Diagnóstico"
          placeholder="Seleccione un valor" class="diagnosis-label">
          <ion-select-option value="Neumonía Viral">Neumonía
            Viral</ion-select-option>
          <ion-select-option value="Neumonía Bacteriana">Neumonía
            Bacteriana</ion-select-option>
          <ion-select-option value="Normal">Normal</ion-select-option>
        </ion-select>

        <ion-textarea formControlName="opinion" label="Notas adicionales"
          placeholder="Agregue aquí su descripción"
          class="custom-textarea"></ion-textarea>

        <ion-button type="submit" [disabled]="!myForm.valid"
          type="submit" class="custom-button">Enviar</ion-button>

      </form>

    </ion-card-content>
  </ion-card>

  <ion-card class="ion-padding-bottom ion-margin-bottom custom-card">

    <ion-card-header>
      <ion-card-title class="custom-card-title">Historial de
        resultados</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        @for (datum of dataList; track datum) {
        <ion-item class="custom-history-card">
          <ion-label>
            <div class="diagnosis-container">
              <h3 class="diagnosis-label">Diagnóstico:</h3>
              <p class="diagnosis-value">{{ datum?.score }}</p>
            </div>
            <div class="notes-container">
              <h3 class="notes-label">Notas:</h3>
              <p class="notes-value">{{ datum?.opinion }}</p>
            </div>
          </ion-label>
        </ion-item>
        }
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
