<div class="app-container">
  <div class="header">
    <div class="logo-container">
      <img src="../../assets/logos/NeumoSmart.png" alt="NeumoSmartLogo"
        class="logo">
      <div class="brand-name">NeumoSmart</div>
    </div>
  </div>

  <div class="content-container">
    <div class="info-card">
      <h2>Neumonía</h2>
      <img
        src="https://www.shaio.org/_next/image?url=https%3A%2F%2Fbackend.shaio.org%2Fsites%2Fdefault%2Ffiles%2Fblog%2Fblog-shaio-sintomas-cuidados-y-tratamientos-neumonia.jpg&w=1920&q=75"
        alt="Ilustración de Neumonía" class="info-image">
      <p>Es una infección respiratoria aguda que afecta a los pulmones, llenando
        los alvéolos de pus y líquido, lo que dificulta la respiración y la
        absorción de oxígeno.</p>
    </div>

    <div class="stat-card">
      <div class="card-header">
        <h2 class="title">Neumonía en Niños</h2>
        <div class="indicator">Alta Prioridad</div>
      </div>

      <div class="content">
        <p>Es particularmente letal para los niños menores de 5 años, siendo
          responsable más que el VIH, la malaria y el sarampión combinados.</p>
      </div>

      <div class="stat-container">
        <div class="stat-box">
          <div class="stat-title">Muertes Anuales</div>
          <div class="stat-value">1.4M</div>
        </div>
        <div class="stat-box">
          <div class="stat-title">Población Afectada</div>
          <div class="stat-value">< 5 años</div>
        </div>
      </div>
    </div>

    <div class="stat-card-ecuador">
      <h3 class="title">Estadísticas Ecuador</h3>
      <p class="stat-value">
        Cifras sorprendentes en el Ecuador hasta la semana 36 del 2024, se han
        registrado <strong>80,733</strong> casos que han requerido asistencia en
        hospitales.
      </p>
      <p class="stat-value">
        En muchos casos, los pacientes deben pasar primero por una radiografía,
        para luego esperar la revisión médica de la misma. Este proceso, aunque
        necesario, puede ser tedioso y generar incertidumbre para los pacientes
        y sus familias.
      </p>
    </div>

    <div class="info-card card-NeumoSmart">
      <h2>NeumoSmart</h2>
      <p>
        Con esta innovadora aplicación, simplemente sube la imagen de tu
        radiografía
        y obtén un análisis optimizado y rápido, ayudándote a ahorrar tiempo
        y tomar decisiones informadas de manera más ágil.
      </p>
      <img src="../../assets/logos/NeumoSmart.png" alt="Radiografía"
        class="info-image">
      <ion-button class="btn-NeumoSmart">NeumoSmart</ion-button>
    </div>
  </div>
</div>
